@import "tailwindcss";

@theme {
    --font-syne:  "Syne", "sans-serif"; 
    --font-DM_Sans:  "DM Sans", "sans-serif";
    --font-montserrat:  "Montserrat", "sans-serif";

    /* Screen Size */
    --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 81rem;
}


.container {
    margin:0 auto;
}

.custom_square {
  list-style-type: square;
}