@import "tailwindcss";

@theme {
    --font-syne:  "Syne", "sans-serif"; 
    --font-DM_Sans:  "DM Sans", "sans-serif";
    --font-montserrat:  "Montserrat", "sans-serif";
}


.container {
    margin:0 auto;
    max-width: 1328px;
}